@{
    ViewBag.Title = "Contact";
}
<h2>Контактирајте нè</h2>
<h3>ОгласникБТ контакт</h3>

<address>
    Улица 1515 бр.53<br />
    1000 Скопје<br />
    <abbr title="Phone">Телефон:</abbr>
    070 555 333
</address>

<address>
    <strong>Емаил:</strong>   <a href="mailto:bojantrpeski123@gmail.com">bojantrpeski123@gmail.com</a><br />
</address>